<div><h2>Accounts</h2></div>
<md-subheader class="md-no-sticky ">List of account card</md-subheader>
<md-button ng-click="init()">update</md-button>
<!--<md-content class="md-padding " layout-xs="column" layout-gt-md="row" flex="">-->
<!--<div flex="20%" ng-repeat="val in values"  ng-init="checked=true">&lt;!&ndash;flex-xs flex-gt-xs="60"&ndash;&gt;-->
<!--<input type="checkbox" ng-model="checked" />-->
<!--<md-card > &lt;!&ndash;md-theme="dark-blue"&ndash;&gt;-->
<!--<img ng-src="http://{{val.link}}/favicon.ico" flex-gt-xs="40" flex-sm="60" alt="Washed Out" class="avatar" style="margin: auto;">-->
<!--<md-card-title>-->
<!--<md-card-title-text>-->
<!--<span class="md-headline" >-->
<!--<b>-->
<!--<h2>{{val.name}}</h2>-->
<!--</b>-->
<!--</span>-->
<!--</md-card-title-text>-->
<!--</md-card-title>-->
<!--<md-card-content ng-if="checked">-->
<!--<p>-->
<!--Link: {{val.link}}-->
<!--</p>-->
<!--<p>-->
<!--Login: {{val.login}}-->
<!--</p>-->
<!--<p>-->
<!--Password: {{val.pass}}-->
<!--</p>-->
<!--</md-card-content>-->
<!--<div ng-if="!checked">-->
<!--<md-card-content >-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>Link:</label>-->
<!--<input ng-model="val.link">-->
<!--</md-input-container>-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>Login:</label>-->
<!--<input ng-model="val.login">-->
<!--</md-input-container>-->
<!--<md-input-container class="md-block" flex-gt-sm>-->
<!--<label>Login:</label>-->
<!--<input ng-model="val.pass">-->
<!--</md-input-container>-->
<!--</md-card-content>-->
<!--</div>-->

<!--<md-card-actions layout="row" layout-align="end center">-->
<!--<md-button class="md-icon-button" aria-label="Favorite">-->
<!--<md-icon md-svg-icon="assets/img/icons/favorite.svg"></md-icon>-->
<!--</md-button>-->
<!--<md-button class="md-icon-button" aria-label="Settings"">-->
<!--<md-icon md-svg-icon="assets/img/icons/menu.svg" ></md-icon>-->
<!--</md-button>-->
<!--<md-button class="md-icon-button" aria-label="Share">-->
<!--<md-icon md-svg-icon="assets/img/icons/share-arrow.svg"></md-icon>-->
<!--</md-button>-->
<!--</md-card-actions>-->
<!--</md-card>-->
<!--</div>-->

<!--</md-content>-->
<div ng-cloak>

    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch
                     ng-repeat="val in datafromrest" md-whiteframe="7">
                <md-card-title>
                    <md-card-title-text>
                        <!--<input type="checkbox" ng-model="checked"/>-->
                        <span class="md-headline" ng-if="!editval"><h2>{{val.name}}</h2></span>
                        <!--<span class="md-subhead">Large</span>-->
                        <md-input-container class="md-block" flex-gt-sm ng-if="editval">
                            <label>Name:</label>
                            <input ng-model="val.name">
                        </md-input-container>
                        <md-card-content ng-if="editval" class="card-media">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Link:</label>
                                <input ng-model="val.link">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Login:</label>
                                <input ng-model="val.login">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password:</label>
                                <input ng-model="val.password">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Description:</label>
                                <input ng-model="val.description">
                            </md-input-container>
                        </md-card-content>

                        <md-card-content ng-if="!editval">
                            <p>
                                Link: {{val.link}}
                            </p>
                            <p>
                                Login: {{val.login}}
                            </p>
                            <p>
                                Password: {{val.password}}
                            </p>
                            <p>
                                Description: {{val.description}}
                            </p>
                        </md-card-content>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img ng-src="http://{{val.link}}/favicon.ico">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary"
                               ng-click="editval = togleitem(editval); $log.info('editing '+editval)">Edit
                    </md-button>
                    <md-button class="md-warn md-raised md-hue-2" ng-click="deleteThis(val, datafromrest)">Delete
                    </md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div flex-xs flex-gt-xs="50" layout="column" ng-controller="accountCtrl as ac">


            <!--ng-click="isAdd = togleitem(isAdd);  $log.info('Togled '+isAdd)"-->
            <md-card ng-if="!ac.isAdd" md-whiteframe="7">
                <md-button ng-click="ac.isAdd = togleitem(ac.isAdd)" style="background-color: #0088cc">
                    Add new account data
                </md-button>
            </md-card>

            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" ng-init="newitem" ng-if="ac.isAdd"
                     md-whiteframe="7">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">New card</span>
                        <!--<span class="md-subhead">Small</span>-->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name:</label>
                            <input ng-model="newitem.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Link:</label>
                            <input ng-model="newitem.link">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Login:</label>
                            <input ng-model="newitem.login">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password:</label>
                            <input ng-model="newitem.password">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Description:</label>
                            <input ng-model="newitem.description">
                        </md-input-container>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img ng-src="http://{{newitem.link}}/favicon.ico">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary"
                               ng-click="addVal(); $log.info('clic '+ datafromrest.length)">ADD
                    </md-button>
                    <md-button class="md-warn md-raised md-hue-2"
                               ng-click="ac.isAdd = togleitem(ac.isAdd); resetItem()">Cancel
                    </md-button>
                </md-card-actions>
            </md-card>

            <!--<div layout layout-padding layout-align="center end" style="height:200px">-->
            <!--<md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>-->
            <!--</div>-->
        </div>
    </md-content>
</div>