<div><h2>Accounts</h2></div>
<md-subheader class="md-no-sticky ">List of account card</md-subheader>
<div>
    <md-input-container>
        <label>Search:</label>
        <input ng-model="query" type="text">
    </md-input-container>
</div>
<div ng-hide="gettingData" class="preloader">

</div>
<div ng-cloak ng-show="gettingData">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="80" layout="column ">
            <md-card md-theme-watch ng-repeat="val in dataFromrest | filter:{$:query}" md-whiteframe="7">
                <md-card-title>
                    <md-card-title-text>
                        <!--<input type="checkbox" ng-model="checked"/>-->
                        <span class="md-headline" ng-hide="editval"><h2>{{val.name}}</h2></span>
                        <!--<span class="md-subhead">Large</span>-->
                        <md-input-container class="md-block" flex-gt-sm ng-show="editval">
                            <label>Name:</label>
                            <input ng-model="val.name">
                        </md-input-container>
                        <md-card-content ng-show="editval" class="card-media">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Link:</label>
                                <input ng-model="val.link">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Login:</label>
                                <input ng-model="val.login">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password:</label>
                                <input ng-model="val.password">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Description:</label>
                                <input ng-model="val.description">
                            </md-input-container>
                        </md-card-content>

                        <md-card-content ng-hide="editval">
                            <p>
                                <b>Link:</b> {{val.link}}
                            </p>
                            <p>
                                <b>Login:</b> {{val.login}}
                            </p>
                            <p>
                                <b>Password:</b> {{val.password}}
                            </p>
                            <p>
                                <b>Description:</b> {{val.description}}
                            </p>
                        </md-card-content>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" md-whiteframe="7">
                            <img ng-src="http://{{val.link}}/favicon.ico">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-show="editval" class="md-raised " md-whiteframe="7" style="background-color: #7ecc3e"
                               ng-click=" $log.info('Save'); updateData(val); editval = edit(editval);">Update
                    </md-button>
                    <md-button class="md-raised md-primary" md-whiteframe="7"
                               ng-click="editval = edit(editval);
                                $log.info('editing '+editval);"> Edit
                    </md-button>
                    <md-button class="md-warn md-raised md-hue-2" md-whiteframe="7"
                               ng-click="deleteThis(val, dataFromrest)">Delete
                    </md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div flex-xs flex-gt-xs="80" layout="column">


            <!--ng-click="isAdd = togleitem(isAdd);  $log.info('Togled '+isAdd)"-->
            <md-card ng-hide="isAdd" md-whiteframe="7">
                <md-button ng-click="togleitem()" style="background-color: #0088cc">
                    Add new account data
                </md-button>
            </md-card>

            <md-card ng-init="newitem" ng-show="isAdd"
                     md-whiteframe="7">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">New card</span>
                        <!--<span class="md-subhead">Small</span>-->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name:</label>
                            <input ng-model="newitem.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Link:</label>
                            <input ng-model="newitem.link">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Login:</label>
                            <input ng-model="newitem.login">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password:</label>
                            <input ng-model="newitem.password">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Description:</label>
                            <input ng-model="newitem.description">
                        </md-input-container>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img ng-src="http://{{newitem.link}}/favicon.ico">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary"
                               ng-click="addVal(newitem); $log.info('clic '+ dataFromrest.length)">ADD
                    </md-button>
                    <md-button class="md-warn md-raised md-hue-2"
                               ng-click="togleitem(); resetItem()">Cancel
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card md-whiteframe="7">
                <md-button ng-click="init()" style="background-color: #0fcc63">update</md-button>
            </md-card>

            <!--<div layout layout-padding layout-align="center end" style="height:200px">-->
            <!--<md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>-->
            <!--</div>-->
        </div>
    </md-content>
</div>